<h1>Data Science Tools and Ecosystem<h1/>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
. Create a Jupyter Notebook
. List popular languages for Data Science
. list data science libraries
. Create a markdown cell introducing arithmetic expression examples

Some of the popular languages that Data Scientists use are:
a. Python
b. julia
c. R
d. C++

Some of the commonly used libraries used by Data Scientists include:
1. matplotlib
2. pandas
3. scikit-learn
4. seaborn
5. keras

| Data Science Tools |
| -----------
| jupyter notebook |
| Apache hadoop |
| Apache spark  |
| TensorFlow  |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3/>

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
b=200
a=b/60
print(a);

3.3333333333333335

<h2>Author</h2>
David Mungai